<h1>Mensajes</h1>

<div class="mb-3">
  <%= link_to "Nuevo Mensaje", new_message_path, class: "btn btn-success" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Chat</th>
      <th>Usuario</th>
      <th>Mensaje</th>
      <th>Creado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td>Chat #<%= message.chat_id %></td>
        <td><%= @users.find { |u| u.id == message.user_id }&.first_name %></td>
        <td><%= message.body %></td>
        <td><%= message.created_at %></td>
        <td>
          <%= link_to "Ver", message_path(message), class: "btn btn-primary btn-sm" %>
          <%= link_to "Editar", edit_message_path(message), class: "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
