<h1>Usuarios</h1>

<% if can? :create, User %>
  <%= link_to "Nuevo Usuario", new_user_path, class: "btn btn-primary mb-3" %>
<% end %>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
          <p class="card-text">
            <small class="text-muted">
              Email: <%= user.email %>
            </small>
          </p>
          <%= link_to "Ver", user_path(user), class: "btn btn-info" %>
          <% if can? :edit, user %>
            <%= link_to "Editar", edit_user_path(user), class: "btn btn-warning" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div> 