<h1>Chats</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Remitente</th>
      <th>Receptor</th>
      <th>Creado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.id %></td>
        <td><%= @users.find { |u| u.id == chat.sender_id }&.first_name %></td>
        <td><%= @users.find { |u| u.id == chat.receiver_id }&.first_name %></td>
        <td><%= chat.created_at %></td>
        <td><%= link_to "Ver", chat_path(chat), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
